@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&family=Noto+Serif+SC:wght@400;700&display=swap');

section#d1-slide,section#d2-slide,section#d3-slide,section#d4-slide,section#d5-slide,section#d6-slide,
section#d7-slide,section#d8-slide,section#d9-slide,section#d10-slide {
    /* margin-top: 50px; */
    padding-top: 50px;
}

body {
    background-color: #fbf8e6;
    font-family: 'Noto Sans SC', sans-serif;
}
p {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 400;
    line-height: 1.65;
    font-size: 17px;
    color: #333;
    margin-bottom: 30px;
}

.note {
    font-size: 0.85em;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 400;
    color: #4c4c4c;
    text-align: center;
}

h1.title {
   display: none;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}
.bg-dark {
    background-color: #545b62 !important;
}

/* Main hero */
.hero-title {
    position: absolute;
    width: 40%;
    padding: 20px;
}

.main-title img { 
    width: 60%;
}
.slide {
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
}
.side {
        padding-right: 20px !important; 
        padding-left: 20px !important; 

}
.slide_group {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 50px;
    margin-top: 50px;
}
.content-image {
    padding: 10px;
}
.content-image img {
   height: auto;
   width: 100%;
}

.photo-byline {
    font-size: 1em;
    display: block;
    margin-top: 10px;
    text-align: right;
    font-family: 'Noto Sans SC', sans-serif;
    width: 60%;
}

.strong {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 700;
    color: #a77e00; 
}

.main-caption {
    font-size: 0.9em;
    padding: 0 10px;
    font-family: 'Noto Serif SC', serif;
    color: #4a4a4a;

}

.slide_body {
    max-width: 900px;
}
.main-quote {
    margin-top: 50px;
    text-align: center;
}

.main-quote img {
    width: 80%;
    
}
.quote-name {
    display: block;
    text-align: center;
    color: #8e7959;
    margin: 8px;
    font-family: 'Noto Serif SC', serif;
    font-weight: 700;
}

.content-body {
    margin: 50px 0;
}


#main-nav {
    background-color: #929293;
   
}
.longing_nav{
   max-width: 920px;
   margin: auto;
}

.longing_nav li {
    width: 90px;
    word-wrap: break-word;
    text-align: center;
    border: 1px dotted #e8e1d3;
}

li a {
    color: #333;
}

.longing_nav .nav.navbar-nav li {
    margin: 0px;
    padding: 10px 20px;
    /* text-align: center; */
}

.slide-break {
    margin-top: 15px;
} 


.slide-number {
    width: 80px;
    height: 80px;
    border: 1px dotted #a08b60;
    padding: 8px;
    text-align: center;
    font-size: 2.5em;
    display: inline-block;
    font-family: 'Noto Serif SC', serif;
}

.slide-title {
    display: inline-block;
    font-family: 'Noto Serif SC', serif;
    
}
.slide-title h2 {
    font-size: 2.5em;
    font-weight: 700;
}
.slide-locator h3 {
    font-size: 1em;
    font-weight: 700;
    font-family: 'Noto Sans SC', sans-serif;
}
.slide-content-wrapper {
    margin-top: 10px;

}
.col-md-6.col-6.gutters {
    padding-right: 5px;
}

.col-md-6.col-6.gutters-left {
    padding-left: 5px;
}

.slide-locator {
    border: 1px solid #a08b60;
    padding: 10px;
    position: relative;
    margin: 50px 15px 10px;
}

.slide-locator:after {
    content: url("../images/locator.svg");
    position: absolute;
    left: -10px;
    top: -30px;
    width: 20px;
}


.slide-n {
    position: absolute;
    top: 0;
    padding-left: 10px;
}
span.caption {
    font-size: 0.9em !important;
    color: #4a4a4a !important;
    line-height: 1.55;
    display: block;
    font-family: 'Noto Serif SC', serif;
    margin-top: -10px;  
}

@media (min-width: 990px) {
    .main-caption {
        margin-top: calc(100% - 10vh);
    }
    .slide-content-wrapper {
        position: absolute;
        bottom: 0;        
    }
    
}

@media (max-width: 1024px) {
    .slide-n {
        margin-top: 30px;
        top: 0px;
        position: relative;
    }

    .hero-title {
        position: relative;
        margin-top: 50px;
        top: 0;
        width: 100%;
    }
    .slide_group {
        margin-top: 20px;
    }
    .photo-byline {
        width: 80%;
    }
    .main-title img {
        width: 80%;
    }
    
}
@media (max-width: 768px) {
    .longing_nav li {
        width: 68px;
    word-wrap: break-word;
    text-align: center;
    border: 1px dotted #e8e1
    }

}

@media (max-width: 680px) {
    .longing_nav li {
        word-wrap: break-word;
        text-align: center;
        border: 1px dotted #e8e1;
        --view: 580px;
        left: 50px;
        width: calc(100% - var(--view)/2);
        background-color: #545b62;
    }

    .main-quote img {
        width: 100%;
    }

}


.bottomMenu {
    left: 50%;
    transform: translateX(-50%);
    background-color: #545b62;
}

.view-mobile .bottomMenu ul {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
    margin-bottom: 0;
    list-style: none;
    padding: 0;
    background-color: #545b62;
}

.view-mobile .bottomMenu ul li {
    background-color: #545b62;
    border: 1px solid grey;
}

.view-mobile .bottomMenu ul li a {
    white-space: nowrap;
    color: #FFFFFF;
    padding: 8px;
    font-size: 16px;
}

.view-mobile .bottomMenu ul li a.active {
    background-color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 420px) {
    .view-mobile .bottomMenu ul li a {
        padding: 5px 10px;
        font-size: 16px;
    }
}

.slide-wrap {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.figure {
    margin-bottom: 50px;
    margin-top: 50px;
}

.figure-caption {
    font-size: 0.9em !important;
    color: #4a4a4a !important;
    line-height: 1.55;
    display: block;
    font-family: 'Noto Serif SC', serif;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
  }

  .sticky + .content {
    padding-top: 50px;
  }

  .view-mobile ul li a {
    opacity: 0.5;
  }
  .view-mobile ul li a.active {
    opacity: 1;
  }
.nav-link {
    display: block;
    padding: 0rem 1rem;
}